.header	{
	width: 100%;
	height: 59px;
	background-color: var(--panel-background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px;

	&__user {
		display: flex;
		align-items: center;

		.user__avatar {
			margin-right: 10px;
			height: 40px;
			width: 40px;
			padding: 0;
			border: none;
			outline: none;
			border-radius: 50%;
			background-color: inherit;
			cursor: pointer;
	
		
			img {
				width: inherit;
				border-radius: 50%;
				height: inherit;
			}
		}

		.user__username {
			font-weight: 500;
		}
	}

	&__options {
		.option__item {
			padding: 8px;
			border: none;
			outline: none;
			background-color: inherit;
			cursor: pointer;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			color: var(--secondary-text-color);
		}
	}
}